/* shared styles */

*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* nav styles */
nav{
    width: 100%;
    height: 100px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    padding-right: 120px;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
}
.nav-logo h3{
text-align: center;
font-size: 2.5rem;
font-weight: 700;
padding-left: 10px;
}
.nav-logo h3 span{
    color: #ff42a5;
}
.nav-item ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.3rem;
    
    
}
.nav-item ul li{
    margin-right: 20px;
    font-weight: 500;
}
.nav-item .nav-button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
}
/* header banner style  */
.banner{
    width: 100%;
    height: 700px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, 
    rgba(241, 68, 174, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-content h2{
    color: #0B0223;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content ul{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 15px;
}
.banner-content ul li{
    padding: 10px;
}
.banner-con-btn{
    display: flex;
    margin-left: 20px;
}
.banner-con-btn .signin-btn{
    padding: 18px;
    background-color: #ff42a5;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}
.banner-con-btn .gorogue-btn{
    padding: 18px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.banner-content img{
    width: 90%;
}
/* section online gamer */
.online-gamer{
    margin-top: 50px;
    background: #FFF;

}
.online-gamer-content{
    text-align: center;
    align-items: center;
    
}
.online-gamer-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}
.online-gamer-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-gamer-content p{
    color: #534C64;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.online-gamer-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.card img{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 20px;
}
.card p{
    width: 300px;
    text-align: center;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;  
}
/* section two */
.instantly{
    margin-top: 70px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.instantly-content{
    text-align: center;
    align-items: center;
    margin-right: 0px;
    justify-content: center;
    width: 350px;
    
}

.instantly-content h2{
    color: #0B0223;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
    line-height: 45px;
}
.instantly-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instantly-content p{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}
.instantly-img{
    width: 500px;
    height: 520px;
    
}
.instantly-img .small-img{
    position: relative;
    bottom: 250px;
    right: 100px;
    
}













/* responsive media query */
/* for mobile devices */

@media screen and (max-width: 576px) {
    header{
       
    }
    nav,
    .banner,
    .online-gamer,
    .card
    {
        flex-direction: column;
    }
}





/* for tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        
    }
    .banner
    {
        flex-direction: column;
    }
}